@import url('https://fonts.googleapis.com/css2?family=Anta&family=Quicksand:wght@300..700&display=swap');

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    font-family: Quicksand, sans-serif;
    align-items:center
}

h1 {
    text-align: center;
}

/* Form styles */
form {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

a#back{
    position: absolute;
    left: 10px;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    transition: all 0.3s ease;
}
a#back:hover{
    position: absolute;
    left: 10px;
    padding: 5px;
    font-size: 22px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

form button[type="submit"],
form button[type="reset"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button[type="submit"]:hover,
form button[type="reset"]:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
